<!DOCTYPE html>
<html>

<head>
    <title>Offering Localization</title>
    <link rel="stylesheet" type="text/css" href="./static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./static/index.css">
</head>

<body class="localization-body" id="localization">
    <div class="panel panel-default">
        <div class="panel-heading">Original File</div>
        <div class="panel-body">
            <textarea v-model="originalFiles" class="form-control input-area en-input"></textarea>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Translated File</div>
        <div class="panel-body">
            <textarea v-model="translatedFiles" class="form-control input-area en-input"></textarea>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Offering</div>
        <div class="panel-body">
            <textarea v-model="offeringsTarget" class="form-control input-area en-input"></textarea>
        </div>
    </div>
    <button id="link" v-on:click="process" class="btn btn-success process-btn">Process</button>
    <span v-if="show" class="mua" transition="bounce">Mua~</span>
    <div class="resultPanel" v-show="offeringData.length !== 0">
        <div class="alert alert-danger" role="alert" v-for="error in errors">
            <span class="sr-only">Error:</span> {{error}}
        </div>
        <div class="alert alert-warning" role="alert" v-for="warning in warnings">
            <span class="sr-only">Warning:</span> {{warning}}
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Preview</div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th v-for="col in OFFERING_COLS">{{col}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="line in offeringData" v-if="$index!==0">
                            <td v-for="col in OFFERING_COLS">
                                <template v-if="col == 'Source Value' || col == 'Translated Value'">
                                    <template v-if="line['Field Name']==='Description'">
                                        <textarea v-if="col == 'Translated Value'" class="form-control edit-textarea" v-model="line[col]"></textarea>
                                        <div class="view-textarea" v-else>{{line[col]}}</div>
                                        <p></p>
                                        <span class="badge">PREV</span>
                                        <div class="prev-textarea" v-html="line[col]"></div>
                                        <!-- <span class="glyphicon glyphicon-resize-full pull-right" aria-hidden="true"></span> -->
                                    </template>
                                    <template v-else>
                                        <input v-if="col == 'Translated Value'" class="form-control edit-input" v-model="line[col]" />
                                        <div class="view-input" v-else>{{line[col]}}</div>
                                    </template>
                                </template>
                                <template v-else>
                                    {{line[col]}}
                                </template>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <a id="link" href="{{offeringDataToURL(offeringData)}}" target="_blank" download="output.csv" class="btn btn-primary process-btn">Download</a>
    </div>
    <script type="text/javascript" src="./static/vue.js"></script>
    <script type="text/javascript" src="./static/index.js"></script>
</body>

</html>
