.localization-body {
    margin: 20px;
}

.form-control.input-area {
    height: 90px;
}

.edit-textarea {
    width: 400px;
    height: 150px !important;
    margin: 0;
    padding: 0;
}

.edit-input {
    width: 400px;
    margin: 0;
    padding: 0;
}

.view-textarea {
    width: 400px;
    height: 150px;
    overflow: auto;
    margin: 0;
    padding: 0;
}

.view-input {
    width: 400px;
    margin: 0;
    padding: 0;
}

.prev-textarea {
    overflow: auto;
    width: 400px;
    height: 150px;
    margin: 0;
    padding: 0;
}

.prev-input {
    width: 400px;
    margin: 0;
    padding: 0;
}

.resultPanel {
    margin-top: 20px;
}

.mua {
    width: 60px;
}

.mua-transition {
  display: inline-block !important;
}
.mua-enter {
  font-weight: bold;
  animation: mua .5s;
  color: #ff6666;
}
.mua-leave {
  font-weight: bold;
  animation: mua .5s;
  color: #ff6666;
}

@keyframes mua {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(0.1);
  }
}
